<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <meta charset = "ISO-8859-1" />
    <link href = "css/styles.css" rel = "stylesheet"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spring Boot Application</title>
    <script src="/javascript/app.088dad69ba65c07879b4.bundle.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div>Filter will come here</div>
</div>
</body>
</html>