<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <meta charset = "ISO-8859-1" />
    <link href = "css/styles.css" rel = "stylesheet"/>
    <title>Spring Boot Application</title>
</head>
<body layout:fragment="content">
<div class="flex flex-col flex-1">
    <div class="flex items-center justify-between mb-3 font-medium">
        <h1 class="font-bold mb-4">Programming Languages</h1>
        <div>
            <a th:href="@{/add}" class="text-indigo-500">
                Add Programming Language
            </a>
        </div>
    </div>

    <div class="shadow border-b border-gray-200 sm:rounded-lg">
        <table class="w-full divide-y divide-gray-200">
            <thead class="bg-gray-300">
              <tr>
                  <th scope="col" class="px-6 py-3 text-left tex-xs text-gray">
                      Name
                  </th>
                  <th scope="col" class="px-6 py-3 text-left tex-xs text-gray">
                      First Release Date
                  </th>
                  <th scope="col" class="px-6 py-3 text-left tex-xs text-gray">
                      Latest Release Date
                  </th>
                  <th scope="col" class="px-6 py-3 text-left tex-xs text-gray">
                      Author
                  </th>
                  <th scope="col" class="px-6 py-3 text-left tex-xs text-gray">
                      Paradigms
                  </th>

                  <th></th>
                  <th></th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-300">
                <tr th:each="language: ${programming}" class="text-base hover:bg-gray-200">
                    <td th:text="${language.name}"
                        class="px-6 py-4 whitespace-nowrap font-medium text-sm"/>
                    <td th:text="${#calendars.format(language.initialReleaseDate, 'd MMM yyyy')}"
                        class="px-6 py-4 whitespace-nowrap text-sm"/>
                    <td th:text="${#calendars.format(language.lastReleaseDate, 'd MMM yyyy')}"
                        class="px-6 py-4 whitespace-nowrap text-sm"/>
                    <td th:text="${language.author}"
                        class="px-6 py-4 whitespace-nowrap text-sm"/>
                    <td class="px-6 py-4 whitespace-nowrap text-sm flex flex-col">
                        <div th:each="paradigm: ${language.paradigms}">
                            <span th:text="${paradigm.name}"></span>
                        </div>
                    </td>
                    <td class="px-6 py-4">
                        <a th:href="@{/edit/{id}(id=${language.programmingLanguageId})}"
                           class="px-4 py-1 bg-white text-md text-indigo-600 border border-indigo-500 hover:border-transparent hover:text-white hover:bg-indigo-500 rounded">
                            Edit
                        </a>
                    </td>
                    <td class="px-6 py-4">
                        <a th:href="@{/delete/{id}(id=${language.programmingLanguageId})}"
                           class="px-4 py-1 text-red-500 text-md border border-red-500 hover:border-transparent hover:text-white hover:bg-red-500 rounded">
                            Delete
                        </a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

</body>